<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>W<span style="font-size:50px; opacity:0.5;">here</span> I GO</h1> 
            <h2>노약자 및 시각장애인을 위한 실내 네비게이션</h2>
            <hr>
            <p style="color: white; text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);">
                WIGO는 초행자나 시각장애인, 노약자 등 사회적 약자도 복잡한 실내 공간을 스마트폰 하나로 안전하고 직관적으로 이동할 수 있도록 돕습니다.
                ARCore 기반의 위치 추정 기술과 VINS-Mono의 최적화 기법을 결합하여, 고정밀 실시간 위치 추정을 구현하였으며, 별도의 인프라 없이도 정확한 경로 안내가 가능합니다.
                또한, 음성 인식으로 목적지를 말하면 자동으로 인식하고, 음성 안내를 통해 시각적 정보 없이도 길을 안내받을 수 있어 접근성과 편의성을 모두 갖췄습니다.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">WIGO에 대해서 알아보세요!</a>
        </div>
    </div>
</header>
